*.class

.gradle/
build/

.idea/
*.iml
out/

.vscode/

target/

.DS_Store
Thumbs.db

.env
.env.*

application.yml
application.yaml
application-local.yml
application-local.yaml
application-dev.yml
application-dev.yaml
src/main/resources/application.yml