<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="UTF-8"/>
    <title>My Profile</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<head>
    <title>User Profile</title>
</head>

<body>

<div th:replace="~{header-footer/header :: header}"></div>

    <h1>User Information</h1>

    <p>
        Name:
        <span th:text="${user.fullName}"></span>
    </p>

    <p>
        Email:
        <span th:text="${user.username}"></span>
    </p>

</body>

</html>