<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Friends</title>
  <link rel="stylesheet" href="/main.css" />
</head>

<body>

<div th:replace="~{header-footer/header :: header}">
</div>

<h1>Friends</h1>

<div th:each="request : ${acceptedRequests}">

  <span th:if="${request.sender.id == currentUser.id}"
        th:text="${request.receiver.username}">
  </span>

  <span th:unless="${request.sender.id == currentUser.id}"
        th:text="${request.sender.username}">
  </span>

  <form th:action="@{/friends/{id}/delete(id=${request.id})}" method="post">
    <button type="submit">Remove Friend</button>
  </form>

</div>

<h2>Add a Friend</h2>

<form action="/friend-requests" method="post">
  <input
          type="email"
          name="receiverEmail"
          placeholder="Enter user's email"
          required
  >

  <button type="submit">Send Friend Request</button>
</form>



<h3>Friend Requests</h3>

<div th:each="request : ${requests}">
  <span th:text="${request.sender.username}"></span>

  <form th:action="@{/friend-requests/{id}/accept(id=${request.id})}" method="post">
    <button type="submit">Accept</button>
  </form>

  <form th:action="@{/friend-requests/{id}/deny(id=${request.id})}" method="post">
    <button type="submit">Deny</button>
  </form>

</div>

</body>

</html>