
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<header class="header" th:fragment="header">

    <div class="logo">
        <a th:href="@{/}">
            <img th:src="@{/logo.png}" alt="Acebook Logo">
        </a>
    </div>

    <nav class="navigation">
        <ul class="nav-list">

            <li class="nav-item">
                <a href="@{/}">Home</a>
            </li>

            <li class="nav-item">
                <a href=""></a>
            </li>

            <li class="nav-item">
                <a href=""></a>
            </li>

            <li class="nav-item">
                <a href=""></a>
            </li>

        </ul>
    </nav>

</header>

</html>

