<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<body>

<div th:replace="~{header-footer/header :: header}">
</div>


<main>
    <h1>About Acebook</h1>
    <p>
    Acebook is a social platform designed to bring people together,
    share moments and stay connected. Find out more about our mission,
    our story and the team behind Acebook.
</p>
</main>


</body>
</html>